*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width:5px
}
::-webkit-scrollbar-thumb{
    background-color: red;
}
body{
    width: 100%;
    overflow-x: hidden;
    background-color:#fafcff
}
%main-transition{
    transition: all .3s ease-in-out;
    //@extend %main-transition
}
a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}
p{
    margin-bottom:0;
    font-size: 17px;
    color: #333;
}
// Padding reset
.res-padding{
    padding:0 !important;
}
.resL-padding{
    padding-left:0 !important;
}
.resR-padding{
    padding-right:0 !important;
}
//forms
.form-control{
    padding-top: 2px;
}
*::placeholder{
    color:#ccc;
    font-size: 17px;
    
}.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #e1f0ff;
    box-shadow: none;
}
//main-head
.main-head{
    text-align:center;
    margin-bottom:40px;
    h2.title{
        font-size: 30px;
    }
    .desc{
        color: #787575;
        font-size: 18px;
    }
}
// Background tolls

.bg-blue{
    background-color: $main-alpha-yellow;
    color: $main-yellow;
}
.bg-green{
    background-color: $main-alpha-blue;
    color: $main-blue;
}
.bg-yellow{
    background-color: $main-alpha-green;
    color: $main-green;
}