* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: red;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: #fafcff;
}

.sec-testimonials .swiper-testimonials .swiper-button-next, .sec-testimonials .swiper-testimonials .swiper-button-prev, .sec-services .items, .main-header .navbar-light .navbar-nav .nav-link {
  transition: all 0.3s ease-in-out;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

p {
  margin-bottom: 0;
  font-size: 17px;
  color: #333;
}

.res-padding {
  padding: 0 !important;
}

.resL-padding {
  padding-left: 0 !important;
}

.resR-padding {
  padding-right: 0 !important;
}

.form-control {
  padding-top: 2px;
}

*::placeholder {
  color: #ccc;
  font-size: 17px;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #e1f0ff;
  box-shadow: none;
}

.main-head {
  text-align: center;
  margin-bottom: 40px;
}
.main-head h2.title {
  font-size: 30px;
}
.main-head .desc {
  color: #787575;
  font-size: 18px;
}

.bg-blue {
  background-color: #eaf0ff;
  color: #336cff;
}

.bg-green {
  background-color: #e5f9f4;
  color: #00c395;
}

.bg-yellow {
  background-color: #fdf5e6;
  color: #ee9f07;
}

.main-header .bg-light {
  background-color: #fff !important;
}
.main-header .navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
}
.main-header .navbar-light .navbar-nav .nav-link:hover {
  color: #333;
}
.main-header .navbar-light .navbar-nav .nav-link.nav-btn {
  padding: 10px 22px;
  margin: 2px 0;
  font-size: 16px;
}

.main-btn {
  color: #fff !important;
  background-color: #4a9df7;
  border-color: #4a9df7;
  border-radius: 6px;
  font-size: 18px;
}
.main-btn:hover {
  background-color: #1d89ff;
  border-color: #268fff;
}

.slide-show {
  background-image: url(../img/slideshow.png);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}
.slide-show .content {
  padding: 170px 0px;
}
.slide-show .content .title h2 {
  font-size: 58px;
  color: #333;
  line-height: 58px;
  margin-bottom: 30px;
}
.slide-show .content p.desc {
  font-size: 17px;
  color: #8c8c8c;
  margin-bottom: 40px;
}

.section {
  padding: 70px 0;
  color: #333;
}

.sec-protection {
  text-align: center;
}
.sec-protection .box {
  padding: 20px 0;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #d0d0d0;
  min-height: 330px;
}
.sec-protection .box .box-header .icon {
  margin: 20px auto;
  border-radius: 50%;
  font-size: 45px;
  display: block;
  padding: 15px;
  width: 100px;
}
.sec-protection .box .box-title h3 {
  font-size: 27px;
  color: #232222;
  margin-bottom: 20px;
}
.sec-protection .box .box-desc p {
  font-size: 17px;
  color: #828080;
  font-weight: 400;
}

.sec-services .title h2 {
  font-size: 47px;
  font-weight: normal;
  margin-bottom: 22px;
}
.sec-services .items {
  padding: 20px 0;
  margin-top: 30px;
  border-radius: 5px;
  background-color: #fff;
}
.sec-services .items .icon {
  font-size: 42px;
  text-align: center;
  border-radius: 50%;
  padding: 2px;
  width: 70px;
  height: 70px;
  margin: 0 auto;
}
.sec-services .items .title {
  font-size: 17px;
  color: #2a2828;
}
.sec-services .items .desc {
  font-size: 15px;
  color: #7c7979;
}
.sec-services .items:hover, .sec-services .items.active {
  box-shadow: 2px 3px 7px #cccccc;
}
.sec-services .main-img img {
  margin-top: 65px;
}

.sec-cold .main-img img {
  width: 100%;
}
.sec-cold .content {
  padding-top: 60px;
}
.sec-cold .content .title h2 {
  font-weight: normal;
  line-height: 58px;
}
.sec-cold .content .desc p {
  margin-bottom: 20px;
}
.sec-cold .content .desc span {
  display: block;
  font-weight: bold;
  color: #5b5757;
  font-size: 15px;
}

.sec-subscribe {
  padding: 80px 0;
  background-image: url(../img/subscribe.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: right;
}
.sec-subscribe .content .input-group {
  margin: 40px 0;
}

.sec-sign-up {
  background-image: url(../img/sec-sign-up.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;
  padding: 100px 0;
}
.sec-sign-up .title h2 {
  font-weight: normal;
}
.sec-sign-up .desc p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #efefef;
}
.sec-sign-up .main-btn {
  background-color: #1dd8a9;
  border: 2px solid #1dd8a9;
  margin-right: 31px;
}
.sec-sign-up .main-btn:hover, .sec-sign-up .main-btn.active {
  border: 2px solid #fff;
  background-color: #1dd8a900;
}

.sec-testimonials {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.sec-testimonials .content {
  width: 60%;
  margin: 20px auto;
}
.sec-testimonials .swiper-testimonials {
  width: 100%;
  height: 100%;
}
.sec-testimonials .swiper-testimonials .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  padding: 50px 0;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 60%;
}
.sec-testimonials .swiper-testimonials .swiper-slide .msg {
  width: 600px;
}
.sec-testimonials .swiper-testimonials .swiper-slide .msg q {
  display: block;
  margin: 20px 0;
  font-size: 22px;
  line-height: 40px;
  color: #333;
}
.sec-testimonials .swiper-testimonials .swiper-button-next, .sec-testimonials .swiper-testimonials .swiper-button-prev {
  background-color: #fff;
  box-shadow: 10px 10px 27px #e7e7e7;
  color: #4a9df7;
  padding: 32px;
  border-radius: 50%;
  top: 59%;
}
.sec-testimonials .swiper-testimonials .swiper-button-next:after, .sec-testimonials .swiper-testimonials .swiper-button-prev:after {
  font-size: 18px;
  font-weight: bold;
}
.sec-testimonials .swiper-testimonials .swiper-button-next:hover, .sec-testimonials .swiper-testimonials .swiper-button-prev:hover {
  background-color: #4a9df7;
  color: #fff;
}
.sec-testimonials .swiper-testimonials .swiper-button-prev, .sec-testimonials .swiper-testimonials .swiper-container-rtl .swiper-button-next {
  left: 23%;
}
.sec-testimonials .swiper-testimonials .swiper-button-next, .sec-testimonials .swiper-testimonials .swiper-container-rtl .swiper-button-prev {
  right: 23%;
}

.sec-insure .content {
  padding: 81px 0;
}
.sec-insure .content .title h2 {
  font-size: 55px;
  color: #333;
  line-height: 58px;
  margin-bottom: 30px;
  font-weight: normal;
}
.sec-insure .content .desc {
  margin: 21px 0 24px 0;
  font-size: 20px;
  color: #787878;
}
.sec-insure .content .main-btn {
  margin-top: 20px;
}

#footer {
  background-color: #182134;
  color: #fff;
  padding: 50px 0;
}
#footer .sub-links {
  padding: 30px 0;
  border-bottom: 1px solid #ccc;
}
#footer .sub-links .box .title {
  font-weight: bold;
  font-size: 18px;
  color: #dce6fd;
  margin-bottom: 15px;
}
#footer .sub-links .box li {
  line-height: 38px;
}
#footer .sub-links .box li a {
  color: #c2c7d2;
  font-size: 15px;
}
#footer .sub-links .box.social-media li {
  background-color: #bacdf3;
  border-radius: 5px;
  display: inline-block;
  margin-right: 20px;
  margin-top: 20px;
}
#footer .sub-links .box.social-media li a {
  padding: 10px;
}
#footer .sub-links .box.social-media li a i {
  color: #182134;
}
#footer .copy-right p {
  padding: 12px 0;
  font-size: 14px;
  color: #bacdf3;
}

/*# sourceMappingURL=index.css.map */
