.main-btn{
    color: #fff !important;
    background-color: #4a9df7;
    border-color: #4a9df7;
    border-radius: 6px;
    // padding: 4px 21px;
    font-size: 18px;
    // margin:20px 0;
    &:hover{
        background-color: #1d89ff;
        border-color: #268fff;
    }
}