#footer{
    background-color:#182134;
    color: #fff;
    padding: 50px 0;
    .sub-links{
        padding:30px 0;
        border-bottom: 1px solid #ccc;
        .box{
            .title{
                font-weight: bold;
                font-size: 18px;
                color: #dce6fd;
                margin-bottom:15px;
            }
            li{
                line-height: 38px;
                a{
                    color: #c2c7d2;
                    font-size: 15px;
                }
            }
            &.social-media{
               li{
                background-color: #bacdf3;
                border-radius: 5px;
                display: inline-block;
                margin-right: 20px;
                margin-top:20px;
                a{
                    padding:10px;
                    i{ color: #182134;}
                }
                
               }
            }
        }
    }
    .copy-right{
        p{
            padding: 12px 0;
            font-size: 14px;
            color: #bacdf3;
        }
    }
}