.main-header{
    .bg-light {
        background-color: #fff!important;
    }
    .navbar-light .navbar-nav .nav-link{
        color: rgb(0 0 0 / 50%);
        font-size: 16px;
        @extend %main-transition;
        &:hover{
            color:#333;
        }
        &.nav-btn{
            padding: 10px 22px;
            margin: 2px 0;
            font-size: 16px;
        }
    }
}