.slide-show{
        background-image:url(../img/slideshow.png);
        background-size:50% 100% ;
        background-repeat: no-repeat;
        background-position: right;
        width:100%;
        height:100%;
        margin-bottom:30px;
    .content{
        padding: 170px 0px;
        .title h2{
            font-size: 58px;
            color: #333;
            line-height: 58px;
            margin-bottom: 30px;
        }
        p.desc{
            font-size: 17px;
            color: #8c8c8c;
            margin-bottom: 40px;
        }
    }
}
.section{
    padding:70px 0;
    color:#333
}
.brand-icon{

}
.sec-protection{
    text-align:center;
    .box{
        padding: 20px 0;
        border-radius: 5px;
        box-shadow: 2px 2px 10px #d0d0d0;
        min-height: 330px;
        .box-header{
            .icon{
                margin: 20px auto;
                border-radius: 50%;
                font-size: 45px;
                display: block;
                padding: 15px;
                width: 100px;
            }
        }
        .box-title h3{
            font-size: 27px;
            color: #232222;
            margin-bottom: 20px;
        }
        .box-desc{
            p{
                font-size: 17px;
                color: #828080;
                font-weight: 400;
            }
        }
        
    }
}

// sec-services
.sec-services{
    .title h2{
        font-size: 47px;
        font-weight: normal;
        margin-bottom: 22px;
    }
    .items{
        padding: 20px 0;
        margin-top: 30px;
        border-radius: 5px;
        background-color: #fff;
        @extend %main-transition;
        .icon{
            font-size: 42px;
            text-align: center;
            border-radius: 50%;
            padding: 2px;
            width: 70px;
            height: 70px;
            margin: 0 auto;
        }
        .title{
            font-size: 17px;
            color: #2a2828;
        }
        .desc{
            font-size: 15px;
            color: #7c7979;
        }
        &:hover,&.active{
            box-shadow: 2px 3px 7px #cccccc;
        }
    }
    .main-img{
        img{
            margin-top: 65px
        }
    }
}
.sec-cold{
        .main-img img{
            width:100%
        }
    .content{
        padding-top:60px;
        .title h2{
            font-weight: normal;
            line-height: 58px;
        }
        .desc {
            p{
                margin-bottom: 20px;
            }
            span{
                display: block;
                font-weight: bold;
                color: #5b5757;
                font-size: 15px;
            }
        }
    }
}
.sec-subscribe{
    padding:80px 0;
    background-image:url(../img/subscribe.png);
    background-size:100% 100% ;
    background-repeat: no-repeat;
    background-position: right;
    .content{
        .title h2{
            
        }
        .input-group{
            margin: 40px 0;
        }
    }
}
.sec-sign-up{
    background-image: url(../img/sec-sign-up.png);
    background-size:100% 100%;
    background-repeat: no-repeat;
    color:#fff;
    padding:100px  0;
    .title h2{
        font-weight: normal;
    }
    .desc p{
        font-size: 18px;
        margin-bottom: 30px;
        color: #efefef;
    }
    .main-btn{
        background-color: #1dd8a9;
        border:2px solid #1dd8a9;
        margin-right: 31px;
        &:hover,&.active{
            border:2px solid #fff;
            background-color: #1dd8a900;
        }
    }
}
.sec-testimonials{
    position: relative;
    width: 100%;
    overflow: hidden;
    .content{
        width:60%;
        margin:20px auto;
    }
    .swiper-testimonials {
        width: 100%;
        height: 100%;
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            padding:50px 0;
      
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            width: 60%;
            .msg{
                width:600px;
                q{
                    display: block;
                    margin: 20px 0;
                    font-size: 22px;
                    line-height: 40px;
                    color: #333;
                }
            }
        }
        .swiper-button-next,.swiper-button-prev{
            background-color: #fff;
            box-shadow: 10px 10px 27px #e7e7e7;
            color:#4a9df7;
            padding: 32px;
            border-radius: 50%;
            top:59%;
            @extend %main-transition;
            &:after{
                font-size: 18px;
                font-weight: bold;
            }
            &:hover{
                background-color: #4a9df7;
                color:#fff;
            }
        }
        .swiper-button-prev,.swiper-container-rtl .swiper-button-next{
            left: 23%;
        }
        .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
            right: 23%;
        }
    }
}
.sec-insure{
    .content{
        padding: 81px 0;
        .title h2{
            font-size: 55px;
            color: #333;
            line-height: 58px;
            margin-bottom: 30px;
            font-weight: normal;
        }
        .desc{
            margin:21px 0 24px 0;
            font-size: 20px;
            color: #787878;
        }
        .main-btn{
            margin-top:20px;
        }
    }
}